.adDashboard {
    padding: 10px;
    font-family: Arial, sans-serif;
}

.adSearch-panel {
    display: flex;
    justify-content: center;
    margin: 10px 0 10px;
    gap: 10px;
}

.adExport-btn {
    padding: 8px 12px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.adExport-btn:hover {
    background-color: #218838;
}

.adRecord-info {
    font-size: 14px;
    margin-bottom: 10px;
}