.advanced-search {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f9fa;
    margin-bottom: 10px;
}

.advanced-search label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.advanced-search label {
    margin: 5px;
}

.advanced-search input,
.advanced-search select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 30%;
    margin: 0 5px 10px;
}

.slider-group {
    margin-bottom: 10px;
}

.slider-group label {
    display: block;
    margin: 20px 0px 15px;
    font-weight: bold;
}

.slider-group .track {
    height: 6px;
    background: #ccc;
    border-radius: 3px;
}

.slider-group .thumb {
    height: 16px;
    width: 16px;
    background: #007bff;
    border-radius: 50%;
    cursor: grab;
    margin-bottom: 10px;
}

.button-group button {
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 10px;
}

.button-group button:hover {
    background-color: #0056b3;
}

.clear-filters {
    background-color: #dc3545;
}

.clear-filters:hover {
    background-color: #c82333;
}