.funding-table-container {
    width: 100%;
    overflow-x: auto;
    margin-top: 10px;
    max-height: 73vh;
}

.funding-table {
    width: 100%;
    border-collapse: collapse;
}

.funding-table th {
    background-color: #007bff;
    font-size: large;
    color: white;
    padding: 8px;
    text-align: center;
    cursor: pointer;
}

.funding-table th:hover {
    background-color: #0056b3;
}

.sticky-column {
    position: sticky;
    left: 0;
    z-index: 2;
    background-color: inherit;
}

.funding-table th.sticky-column {
    z-index: 3;
    background-color: #007bff;
}

.funding-table th.sticky-column:hover {
    background-color: #0056b3;
}

.funding-table td.sticky-column {
    background-color: white;
}

.funding-table tr:nth-child(even) td.sticky-column {
    background-color: #f9f9f9;
}

.funding-table tr:hover td.sticky-column {
    background-color: #f1f1f1;
}

.funding-table td {
    padding: 8px;
    max-width: 300px;
    overflow:auto;
    border-bottom: 1px solid #ddd;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 200px;
    vertical-align: center;
}

.funding-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.funding-table tr:hover {
    background-color: #f1f1f1;
}

.no-data {
    text-align: center;
    padding: 15px;
    font-style: italic;
}