.search-bar {
    flex: 0 1 90%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.search-bar input {
    flex: 0 1 50%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-buttons {
    flex: 0 1 20%;
    display: flex;
    gap: 10px;
}